
<div class="container" >
<div class="row" style="background-color: blueviolet;margin-top: 10px;">
  <input type="search" [(ngModel)]="title">
  <h4>{{title}}</h4>
</div>
<div class="row" style="background-color: cyan;margin-top: 10px;">
  <app-first></app-first>
  
</div>

<div class="row" style="background-color:sandybrown; margin-top: 10px;">
<app-second></app-second>
</div>  

<div class="row" style="margin-top: 10px; background-color: yellow;">
  
<app-binding></app-binding>

  </div> 
</div>